@model Property.Models.Listing
@{
    ViewData["Title"] = "Chi tiết";
}
<div class="main-banner main-banner_realty">
    <div class="container" style="margin-top:145px;">
        <div class="row">
            <div class="col-lg-12">
                <form asp-action="TypeListing" asp-controller="Home" id="search-form" name="gs" method="submit" role="search">
                    <div class="row">
                        <div class="col-lg-2 align-self-center">
                            <fieldset>
                                <div class="title_realty" id="titleRealty" onclick="toggleListTypeRealty()">
                                    <i class="fa-sharp fa-solid fa-house-chimney"></i>
                                    <div class="title_realty_content">
                                        Loại nhà đất
                                    </div>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <input hidden name="idCategoryDetail" id="idcategorydetail" style="position:absolute" value="" />
                                <div class="list_type_realty list_type_realty_inshowall" id="listTypeRealty">
                                    <ul>
                                        @foreach (var item in (IEnumerable<Property.Models.CategoryDetail>)ViewData["list_category_realties"])
                                        {
                                            <li onclick="changeTitleContent('@item.CategoryDetailName', this, '@item.CategoryDetailId')">@item.CategoryDetailName</li>
                                        }
                                    </ul>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-9 align-self-center">
                            <fieldset>
                                <input name="address" class="searchText" placeholder="Tìm kiếm" autocomplete="on">
                            </fieldset>
                        </div>
                        <div class="col-lg-1" style=" padding-right:0px">
                            <fieldset>
                                <button class="main-button"><i class="fa fa-search" style="margin-right:0;"></i></button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="recent-listing recent-listing_ct">
    <div class="container">
        <div class="row row_chitietbds">
            <div class="col-lg-8">
                <div class="ct_img">
                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner carousel-inner_ct">
                            @{
                                int v = 1;
                            }
                            @if (Model.Realty.Images.Count > 0)
                            {
                                @foreach (var img in Model.Realty.Images)
                                {
                                    if (v == 1)
                                    {
                                        <div class="carousel-item active" data-bs-interval="2000">
                                            <img src="~/images/@img.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                    else if (v == 2)
                                    {
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img src="~/images/@img.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                    }
                                    else if (v == 3)
                                    {
                                        <div class="carousel-item" data-bs-interval="2000">
                                            <img src="~/images/@img.ImageUrl" class="d-block w-100" alt="...">
                                        </div>
                                        break;
                                    }
                                    v++;
                                }
                            }
                            else
                            {
                                <div class="carousel-item active" data-bs-interval="2000">
                                    <img src="~/images/noimg.gif" class="d-block w-100" alt="...">
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="ct_title">
                    @Model.Title
                </div>
                <div class="ct_address"><i style="color:black" class="fa-solid fa-location-dot"></i>@Model.Realty.Address</div>
                <div class="ct_info_main">
                    <div class="ct_info_price">
                        @{
                            string priceString = @Model.Realty.Price.ToString().Replace(".", ",");
                            priceString = priceString.TrimEnd('0').TrimEnd(',');
                        }
                        <div class="ct_infomain_title">Mức giá</div>
                        @if (Model.Realty.CategoryDetail.Category.CategoryId == 2)
                        {
                            <div class="ct_info_content">
                                @priceString
                                <span>triệu / month</span>
                            </div>
                        }
                        else
                        {
                            var price = (double)Model.Realty.Price;
                            price = price * 1000 / (double)Model.Realty.Area;
                            var formattedPrice = price.ToString("N1", System.Globalization.CultureInfo.InvariantCulture);
                            formattedPrice = formattedPrice.ToString().Replace(".", ",");
                            formattedPrice = formattedPrice.TrimEnd('0').TrimEnd(',');
                            <div class="ct_info_content">
                                @priceString
                                <span> tỷ</span>
                            </div>
                            <div class="ct_info_content_them">~@formattedPrice triệu/m<sup>2</sup></div>
                        }
                    </div>
                    <div class="ct_info_area">
                        <div class="ct_infomain_title">Diện tích</div>
                        <div class="ct_info_content">@Model.Realty.Area m<sup>2</sup></div>
                    </div>
                    <div class="ct_info_room">
                        <div class="ct_infomain_title">Phòng ngủ</div>
                        <div class="ct_info_content">@Model.Realty.Bedrooms PN</div>
                    </div>
                    <div class="ct_info_room">
                        <div class="ct_infomain_title">Phòng tắm</div>
                        <div class="ct_info_content">@Model.Realty.Bathrooms PN</div>
                    </div>
                </div>
                <div class="ct_description">
                    <div class="ct_info_title">Thông tin mô tả</div>
                    <div style="white-space: pre-line;">@Model.Description</div>
                    <div>
                        <div class="ct_description_phone">0965627301</div><div class="ct_description_hienso" onclick="hienso()">Hiện số</div>
                    </div>
                </div>
                <div class="ct_dacdiem">
                    <div class="ct_info_title">Đặc điểm bất động sản</div>
                    <div class="ct_dacdiem_items">
                        <div class="ct_dacdiem_item">
                            <div><i class="fa-solid fa-square"></i>Diện tích</div>
                            <div>@Model.Realty.Area m<sup>2</sup></div>
                        </div>
                        <div class="ct_dacdiem_item">
                            <div><i class="fa-solid fa-sack-dollar"></i>Mức giá</div>
                            <div>
                                @if (Model.Realty.CategoryDetail.Category.CategoryId == 2)
                                {
                                    <span>@priceString triệu </span>
                                }
                                else
                                {
                                    <span>@priceString tỷ</span>
                                }
                            </div>
                        </div>
                        <div class="ct_dacdiem_item">
                            <div><i class="fa-solid fa-house-user"></i>Hướng ban công</div>
                            <div>@Model.Realty.HouseDirection</div>
                        </div>
                        <div class="ct_dacdiem_item">
                            <div><i class="fa-solid fa-bed"></i>Số phòng ngủ</div>
                            <div>@Model.Realty.Bedrooms phòng</div>
                        </div>
                        <div class="ct_dacdiem_item ct_bottom_border">
                            <div><i class="fa-solid fa-toilet"></i>Số toilet</div>
                            <div>@Model.Realty.Bathrooms phòng</div>
                        </div>
                        <div class="ct_dacdiem_item ct_bottom_border">
                            <div><i class="fa-solid fa-couch"></i>Nội thất</div>
                            <div>@Model.Realty.Interior</div>
                        </div>
                    </div>
                </div>
                <div class="ct_date">
                    <div>
                        <div class="ct_infomain_title">Ngày đăng</div>
                        <div class="ct_infomain_day">@Model.CreatedAt.Value.ToString("dd/MM/yyyy")</div>
                    </div>
                    <div>
                        <div class="ct_infomain_title">Ngày hết hạn</div>
                        <div class="ct_infomain_day">@Model.CreatedAt.Value.AddDays(10).ToString("dd/MM/yyyy")</div>
                    </div>
                    <div>
                        <div class="ct_infomain_title">Gói đăng</div>
                        <div class="ct_infomain_day">@Model.Account.Package.PackageName</div>
                    </div>
                </div>
                <div class="ct_account">
                    <div>
                        <img src="~/images/avatar.jpg" />
                    </div>
                    <div class="ct_account_name">
                        <div>Được đăng bởi</div>
                        <div>@Model.Account.Name</div>
                    </div>
                    <div>
                        <div>Đã đăng: @ViewBag.mountListingofaccount bài</div>
                    </div>
                </div>
                <div class="ct_listing">
                    <div class="row">
                        @foreach (var item in (IEnumerable<Property.Models.Listing>)ViewData["listingOfAccount"])
                        {
                            <div class="col-lg-4">
                                <a asp-action="chitietbds" asp-controller="Home" asp-route-id="@item.ListingId">
                                    <div class="ct_listing_item">
                                        <div class="ct_listing_item_img">
                                            @if (item.Realty.Images.Count() > 0)
                                            {
                                                <img src="~/images/@item.Realty.Images.FirstOrDefault().ImageUrl" height="200px" />
                                            }else{
                                                <img src="~/images//noimg.gif" height="200pxs"/>
                                            }

                                        </div>
                                        <div class="ct_listing_item_title">
                                            @item.Title
                                        </div>
                                        <div class="ct_listing_item_price">
                                            <i class="fa-solid fa-sack-dollar"></i>
                                            @{
                                                priceString = @item.Realty.Price.ToString().Replace(".", ",");
                                                if (priceString.EndsWith(",00"))
                                                {
                                                    priceString = @item.Realty.Price.ToString().Replace(".00", " ");
                                                }
                                                <span>@priceString</span>
                                            }
                                            @if (@item.Realty.CategoryDetail.Category.CategoryId == 2)
                                            {
                                                <span>triệu / month</span>
                                            }
                                            else
                                            {
                                                var price = (double)item.Realty.Price;
                                                price = price * 1000 / (double)item.Realty.Area;
                                                var formattedPrice = price.ToString("N1", System.Globalization.CultureInfo.InvariantCulture);
                                                <span>tỷ - @formattedPrice Triệu / m<sup>2</sup></span>
                                            }
                                        </div>
                                        <div class="ct_listing_item_address">
                                            <i style="color:black" class="fa-solid fa-location-dot"></i>@item.Realty.Address
                                        </div>
                                        <div class="ct_listing_item_date">
                                            @{
                                                DateTime currentDate = DateTime.Now; // Lấy ngày hôm nay
                                                TimeSpan timeDifference = (TimeSpan)(currentDate - item.CreatedAt); // Tính khoảng cách thời gian
                                                int daysDifference = (int)timeDifference.TotalDays; // Lấy số ngày
                                            }
                                            @if (timeDifference.Days != 0)
                                            {
                                                <i style="color:black;margin-right:15px" class="fa-solid fa-calendar-days"></i>
                                                <span>Đã đăng @timeDifference.Days.ToString("N0") ngày trước</span>
                                            }
                                            else
                                            {
                                                <i style="color:black;margin-right:15px" class="fa-solid fa-calendar-days"></i>
                                                <span>Đăng hôm nay</span>
                                            }
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="btn_showall">
                                <a asp-controller="Home" asp-action="Listing" asp-route-idaccount="@Model.AccountId" class="btn">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function hienso() {
        document.querySelector('.ct_description_hienso').style.display = "none";
        document.querySelector('.ct_description_phone').style.display = "inline-block";
    }
</script>
